div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}

#counter-label{
    font-size: 5rem;
}

#btn-container{
    display: flex;
    flex-direction: row;
    gap:1rem;
}

.buttons{
    padding: 10px 20px;
    color:white;
    font-size:1.5rem;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
}